.swiper {
  width: 100%;
  max-width: 50rem;
  max-height: 40rem;
}

.sub_swiper {
  width: 100%;
  max-width: 50rem;
  margin-top: 1rem;
}

.swiper-button-prev {
  color: #6a7b76;
  background-color: #6a7b76;
}

.swiper-button-next {
  color: #6a7b76;
  background-color: #6a7b76;
}
